/* Par défault */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
   font-size: 60px;
   font-family: "Gill Sans Ultra Bold", sans-serif;
  font-weight: bold;
  }

h2 {
    font-family: "Gill Sans MT";
}

h3 {
    font-family: "Gill Sans MT";
}

p {
    font-family: "Gill Sans MT";
}

footer {
    background-color: #2D2D2D;
    color: white;
    height: 700px;
}

/* Classes */

.imagedebut {
    display: flex;
    width: 100%;
}

.border {
}

.slogan {
  position: absolute;
  color: white;
  left: 15%;
  top: 65%;
}

/* ID */

#section1 {

}

#section2 {
    text-align: center;
}

#section3 {
    background-color: #C8CDF8;
}

#section4 {
    background-color: #C8CDF8;
}

#section5 {
    
}

/* Grilles CSS */

/*-- Grille des catégories --*/

.containersection3 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . Title-area Title-area . ."
      ". Catégorie-1 Catégorie-2 Catégorie-3 Catégorie-4 ."
      ". . . . . .";
  }
  
  .Title-area {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "Write-title-here Write-title-here Write-title-here"
      ". . .";
    grid-area: Title-area;
  }
  
  .Write-title-here { grid-area: Write-title-here; }
  
  .Catégorie-1 { grid-area: Catégorie-1; }
  
  .Catégorie-2 { grid-area: Catégorie-2; }
  
  .Catégorie-3 { grid-area: Catégorie-3; }
  
  .Catégorie-4 { grid-area: Catégorie-4; }
  

/*-- Grille du footer --*/

.footergrid {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . ."
      ". Texte . Images ."
      ". Texte . Images ."
      ". Texte . Images ."
      ". . . . .";
  }
  
  .Texte { grid-area: Texte; }
  
  .Images {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "X-logo Instagram-logo ."
      "linkedin-logo facebook-logo ."
      "Conactez-nous Conactez-nous Conactez-nous";
    grid-area: Images;
  }
  
  .X-logo { grid-area: X-logo; }
  
  .Instagram-logo { grid-area: Instagram-logo; }
  
  .linkedin-logo { grid-area: linkedin-logo; }
  
  .facebook-logo { grid-area: facebook-logo; }
  
  .Conactez-nous { grid-area: Conactez-nous; }

/* Grille Article du mois*/

.articledumoi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". image-article image-article nom-article nom-article ."
    ". image-article image-article description description ."
    ". image-article image-article description description ."
    ". image-article image-article lien lien .";
}

.image-article {
  grid-area: image-article;
  position: relative;
}

.texte-superpose {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white; /* Couleur du texte */
  text-align: center;
  font-size: 24px;
}

.nom-article {
  grid-area: nom-article;
}

.description {
  grid-area: description;
}

.lien {
  grid-area: lien;
}

.rectangle-noir {
  background-color: black; /* Couleur du rectangle */
  padding: 10px; /* Ajoutez un espace autour du texte */
  display: inline-block;
  width: 100%;
}

.rectangle-noir h1 {
  color: white; /* Couleur du texte à l'intérieur du rectangle */
}

/* Articles Populaires*/

.articlepopulaire {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". titre titre titre titre ."
    ". article1 article2 article3 article4 ."
    ". article5 article6 article7 article8 .";
}

.titre {
  justify-self: center;
  align-self: center;
  grid-area: titre;
}

.article1 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix1 prix1 prix1";
  justify-self: stretch;
  align-self: stretch;
  grid-area: article1;
}

.prix1 {
  justify-self: center;
  align-self: center;
  grid-area: prix1;
}

.article2 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix2 prix2 prix2";
  grid-area: article2;
}

.prix2 {
  justify-self: center;
  align-self: center;
  grid-area: prix2;
}

.article3 {  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix3 prix3 prix3";
  grid-area: article3;
}

.prix3 {
  justify-self: center;
  align-self: center;
  grid-area: prix3;
}

.article4 {  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix4 prix4 prix4";
  grid-area: article4;
}

.prix4 {
  justify-self: center;
  align-self: center;
  grid-area: prix4;
}

.article5 {  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix5 prix5 prix5";
  grid-area: article5;
}

.prix5 {
  justify-self: center;
  align-self: center;
  grid-area: prix5;
}

.article6 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix6 prix6 prix6";
  grid-area: article6;
}

.prix6 { grid-area: prix6; }

.article7 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix7 prix7 prix7";
  grid-area: article7;
}

.prix7 { grid-area: prix7; }

.article8 {  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix8 prix8 prix8";
  grid-area: article8;
}

.prix8 { grid-area: prix8; }


/* Animations */

/* Bump */

.bump {
  transition: transform 0.3s ease; /* Durée de l'animation et fonction de transition */
}

.bump:hover {
  transform: translateY(-5px); /* Déplacement vers le haut au survol */
}


/* Souligement */

.soulignement {
  text-decoration: none;
  position: relative;
  color: #333; /* Couleur du texte par défaut */
}

.soulignement::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px; /* Épaisseur du soulignement */
  bottom: 0;
  left: 0;
  background-color: black; /* Couleur du soulignement au survol */
  transition: width 0.3s ease; /* Durée de l'animation et fonction de transition */
}

.soulignement:hover::before {
  width: 100%;
}



/* Pour s'amuser*/

  .circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: mon-animation;
    animation-duration: 4s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  /* The animation code */
  @keyframes mon-animation {
    0% {
      background-color: red;
      left: 0px;
      top: 0px;
    }
    25% {
      background-color: yellow;
      left: 200px;
      top: 0px;
    }
    50% {
      background-color: blue;
      left: 200px;
      top: 200px;
    }
    75% {
      background-color: green;
      left: 0px;
      top: 200px;
    }
    100% {
      background-color: red;
      left: 0px;
      top: 0px;
    }
  }
  
