/* Par défault */
/* Utiliser shopify le CMS */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
   font-size: 60px;
   font-family: "Gill Sans Ultra Bold", sans-serif;
  font-weight: bold;
  }

h2 {
    font-family: "Gill Sans MT";
}

h3 {
    font-family: "Gill Sans MT";
}

p {
    font-family: "Gill Sans MT";
    text-align: justify; 
    text-align-last: left;
}

p2 {
  font-family: "Gill Sans MT";
  font-size: 24px;
  color: black;
  opacity: 1; /* Opacité à 60% */
}

p3 {
  font-family: "Gill Sans MT";
  font-size: 24px;  
  text-decoration: line-through;
  color: red;
  opacity: 0.6; /* Opacité à 60% */
}


a {
  color: inherit;
}

footer {
    background-color: #2D2D2D;
    color: white;
    height: 700px;
}

/* Classes */

.imagedebut {
    display: flex;
    width: 100%;
}
  
.border {
}

.slogan {
  position: absolute;
  color: white;
  left: 15%;
  top: 65%;
}

.imgchaises {
  box-shadow: ;
}

.ombre-orange {
  box-shadow: -10px -10px 20px rgba(255, 165, 0, 0.8);
}

.containercestquoiergop {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.img-avec-bordure-interieure {
  outline: 3px solid white;
  outline-offset: -25px;
}

/* ID */

#section1 {

}

#section2 {
    text-align: center;
}

#section3 {
    background-color: #C8CDF8;
}

#section4 {
    background-color: #C8CDF8;
}

#section5 {
    
}

#searchsession1 {

}

#searchsession2 {

}

/* Grilles CSS */

/*-- Grille des catégories --*/

.containersection3 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". . Title-area Title-area . ."
      ". Catégorie-1 Catégorie-2 Catégorie-3 Catégorie-4 ."
      ". . . . . .";
  }
  
  .Title-area {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". . ."
      "Write-title-here Write-title-here Write-title-here"
      ". . .";
    grid-area: Title-area;
  }
  
  .Write-title-here { grid-area: Write-title-here; }
  
  .Catégorie-1 { grid-area: Catégorie-1; }
  
  .Catégorie-2 { grid-area: Catégorie-2; }
  
  .Catégorie-3 { grid-area: Catégorie-3; }
  
  .Catégorie-4 { grid-area: Catégorie-4; }
  

/*-- Grille du footer --*/

.footergrid {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". . . . ."
      ". Texte . Images ."
      ". Texte . Images ."
      ". Texte . Images ."
      ". . . . .";
  }
  
  .Texte { grid-area: Texte; }
  
  .Images {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;  
    grid-template-areas:
      "X-logo Instagram-logo ."
      "linkedin-logo facebook-logo ."
      "Conactez-nous Conactez-nous Conactez-nous";
    grid-area: Images;
  }
  
  .X-logo { grid-area: X-logo; }
  
  .Instagram-logo { grid-area: Instagram-logo; }
  
  .linkedin-logo { grid-area: linkedin-logo; }
  
  .facebook-logo { grid-area: facebook-logo; }
  
  .Conactez-nous { grid-area: Conactez-nous; }

  
/* Grille Article du mois*/

.articledumoi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". image-article image-article nom-article-gauche nom-article-droite ."
    ". image-article image-article description description ."
    ". image-article image-article description description . "
    ". image-article image-article lien lien .";
}

.image-article {
  grid-area: image-article;
  position: relative;
}

.texte-superpose {
  position: absolute;
  top: 90%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
}

.texte-superpose h2 {
  font-size: 36px;
  font-weight: bold;
}

.nom-article {
  grid-area: nom-article-gauche;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: right; /* Ajustement : centré horizontalement */
}

.nom-article h1 {
  font-size: 2em;
}

.prix {
  grid-area: nom-article-droite; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; /* Alignement du contenu à droite */
}

.prix h2 {
  font-size: 24px;  
  text-decoration: line-through;
  color: red;
  opacity: 0.6; /* Opacité à 60% */
}

.prix h1 {
  font-size: 24px;
  color: black;
  opacity: 0.6; /* Opacité à 60% */
}

.description {
  grid-area: description;
}

.lien {
  grid-area: lien;
}

.rectangle-noir {
  background-color: black; /* Couleur du rectangle */
  padding: 20px; /* Ajoutez un espace autour du texte */
  display: inline-block;
  width: 100%;
}

.rectangle-noir h2 {
  color: white; /* Couleur du texte à l'intérieur du rectangle */
  text-align: center;
}

/* Articles Populaires*/

.articlepopulaire {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 10px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center; 
  grid-template-areas:
    ". titre titre titre titre ."
    ". article1 article2 article3 article4 ."
    ". article5 article6 article7 article8 .";
}

.titre {
  justify-self: center;
  align-self: center;
  grid-area: titre;
}

.article1 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix1 prix1 prix1";
  justify-self: stretch;
  align-self: stretch;
  grid-area: article1;
}

.prix1 {
  justify-self: center;
  align-self: center;
  grid-area: prix1;
}

.article2 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix2 prix2 prix2";
  grid-area: article2;
}

.prix2 {
  justify-self: center;
  align-self: center;
  grid-area: prix2;
}

.article3 {  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix3 prix3 prix3";
  grid-area: article3;
}

.prix3 {
  justify-self: center;
  align-self: center;
  grid-area: prix3;
}

.article4 {  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix4 prix4 prix4";
  grid-area: article4;
}

.prix4 {
  justify-self: center;
  align-self: center;
  grid-area: prix4;
}

.article5 {  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix5 prix5 prix5";
  grid-area: article5;
}

.prix5 {
  justify-self: center;
  align-self: center;
  grid-area: prix5;
}

.article6 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix6 prix6 prix6";
  grid-area: article6;
}

.prix6 { grid-area: prix6; }

.article7 {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix7 prix7 prix7";
  grid-area: article7;
}

.prix7 { grid-area: prix7; }

.article8 {  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    "prix8 prix8 prix8";
  grid-area: article8;
}

.prix8 { grid-area: prix8; }




/* Animations */

/* Bump */

.bump {
  transition: transform 0.3s ease; /* Durée de l'animation et fonction de transition */
}

.bump:hover {
  transform: translateY(-5px); /* Déplacement vers le haut au survol */
}


/* Souligement */

.soulignement {
  text-decoration: none;
  position: relative;
  color: #333; /* Couleur du texte par défaut */
}

.soulignement::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px; /* Épaisseur du soulignement */
  bottom: 0;
  left: 0;
  background-color: black; /* Couleur du soulignement au survol */
  transition: width 0.3s ease; /* Durée de l'animation et fonction de transition */
}

.soulignement:hover::before {
  width: 100%;
}




/* PAGE SEARCH */

.pagearticle {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px 50px;
  grid-auto-flow: row;
  grid-template-areas:
    "recherche recherche a1 a2 a3 ."
    "recherche recherche a4 a5 a6 ."
    "recherche recherche a7 a8 a9 ."
    "recherche recherche a10 a11 a12 ."
    "recherche recherche a13 a14 a15 ."
    "recherche recherche a16 a17 a18 ."
    "recherche recherche a19 a20 a21 ."
    "recherche recherche a22 a23 a24."
    "recherche recherche a25 a26 a27 ."
    "recherche recherche a28 a29 a30 ."
    "recherche recherche a31 a32 . .";
}
 
.recherche {
  /*ici il faut mettre la page de recherche et les coches des différents articles */
  grid-area: recherche;
  background-color: #F5F5F5;     
}

.a1 {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-template-areas:
    "i1 i1 i1"
    "i1 i1 i1"
    "d1 d1 p1";
  grid-area: a1; 
}
.i1 {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: 1 / 1 / 3 / 4; 
}
.d1 {
  justify-self: start
  align-self: stretch; 
  grid-area: 3 / 1 / 4 / 4; 
}
.p1 {
  justify-self: end; 
  align-self: center; 
  grid-area: 3 / 3 / 4 / 4;
  
}

.a2 {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-template-areas:
    "i2 i2 i2"
    "i2 i2 i2"
    "d2 d2 p2";
  grid-area: a2; 
}

.i2 {
  
}

.d2 {

}

.p2 {

}

.a3 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a3; }

.a4 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a4; }

.a5 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a5; }

.a6 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a6; }

.a7 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a7; }

.a8 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a8; }

.a9 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a9; }

.a10 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a10; }

.a11 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a11; }

.a12 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a12; }

.a13 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a13; }

.a14 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a14; }

.a15 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a15; }

.a16 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a16; }

.a17 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a17; }

.a18 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a18; }

.a19 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a19; }

.a20 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a20; }

.a21 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a21; }

.a22 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a22; }

.a23 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a23; }

.a24 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a24; }

.a25 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a25; }

.a26 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a26; }

.a27 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a27; }

.a28 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a28; }

.a29 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a29; }

.a30 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a30; }

.a31 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a31; }

.a32 { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-area: a32; }
